:root {
    --background-color: #001A23;
    --text-color: #B3EFB2;
    --heading-color: #E8F1F2;
    --border-color: #E8F1F2;
    --time-unit-color: #31493C;
    --header-gradient-start: #d7f8d9;
    --header-gradient-end: #31493C;
    --header-text-color: #f0f4f8;
    --alert-background-color: #7A9E7E;
    --alert-text-color: #e9d67a;
    --week-color: #4eb24b;
    --week-checked-color: #c54c4c;
    --navbar-bg-color: #31493C;
    --navbar-text-color: #d7f8e4;
    --navbar-border-color: #001A23;
    --navbar-active-color: #7A9E7E;
    --footer-bg-color: #31493C;
    --footer-text-color: #B3EFB2;
    --footer-link-color: #7A9E7E;
    --footer-link-hover-color: #4eb24b;
    --hovering-color: #b79c03;
}

body {
    padding-top: 60px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
    color: var(--heading-color);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

ul li:last-child {
    border-bottom: none;
}

.time-unit {
    font-weight: bold;
    color: var(--time-unit-color);
}

.calculator-group {
    margin-top: 35px;
    margin-bottom: 20px;
}

.week-grid {
    display: grid;
    grid-template-columns: repeat(125, 10px);
    grid-gap: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    max-width: 100%;
}

.week {
    width: 10px;
    height: 10px;
    background-color: var(--week-color);
    border: 1px solid #ccc;
}

.week.checked {
    background-color: var(--week-checked-color);
}

.form-control {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

/* EXPERIENCES */

.shared-on {
    display: flex;
    margin-left: 20px;
    color: var(--time-unit-color);
}

.card {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.04);
}

.card-title {
    color: var(--background-color);
    margin-bottom: 10px;
    font-size: 1.5rem; 
}
.card-text {
    color: var(--header-gradient-end);
    flex-grow: 1;
}

.card-footer {
    background-color: var(--header-gradient-end); 
    border-top: 1px solid var(--border-color);
    color: var(--heading-color);
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; 
}

.btn-primary {
    background-color: var(--navbar-active-color);
    border-color: var(--navbar-border-color);
    color: var(--header-gradient-end);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--hovering-color);
    border-color: var(--hovering-color);
}

/* Comment Section Styles */

.comment {
    background-color: #f9f9f9; 
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.comment:hover {
    transform: scale(1.02); 
}

.comment strong {
    color: var(--background-color); 
    font-size: 1.1rem;
}

.comment p {
    color: var(--header-gradient-end); 
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.comment small {
    color: var(--time-unit-color); 
}

.form-group label {
    color: var(--heading-color); 
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group textarea {
    background-color: #fff; 
    border: 1px solid var(--border-color);
    color: var(--background-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.form-group textarea:focus {
    border-color: var(--navbar-active-color);
    outline: none;
}

.btn-primary {
    background-color: var(--navbar-active-color);
    border-color: var(--navbar-border-color);
    color: var(--header-gradient-end);
    transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--hovering-color);
    border-color: var(--hovering-color);
}

.btn-primary.mt-2 {
    margin-top: 20px;
}

h3 {
    color: var(--heading-color);
    margin-bottom: 20px;
    font-size: 1.75rem;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}

.comment-textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

/* Header */

.header {
    background: linear-gradient(135deg, var(--header-gradient-start), var(--header-gradient-end));
    color: var(--header-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    min-height: 30vh;
}

.header-content {
    position: relative;
    z-index: 2;
    max-width: 100%;
    padding: 0 20px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.header p {
    font-size: 1rem;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
}

.alert {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--alert-background-color);
    color: var(--alert-text-color);
}

/* Detailed Experience Styles */

.card-detailed {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
    /* width: 100%; */
    margin: 0 auto;
}

.card-detailed:hover {
    transform: scale(1.02);
}

.card-body-detailed {
    padding: 20px;
}

.card-title-detailed {
    color: var(--background-color);
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.card-text-detailed {
    color: var(--header-gradient-end);
    font-size: 1.15rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.shared-on-detailed {
    display: block;
    margin-top: 15px;
    color: var(--time-unit-color);
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.no-decoration {
    text-decoration: none !important;
    color: inherit !important;
}

.no-decoration:hover,
.no-decoration:focus {
    text-decoration: none !important;
    color: inherit !important;
}

.card-footer-detailed {
    background-color: var(--header-gradient-end);
    color: var(--heading-color);
    border-bottom: 3px solid var(--footer-link-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer-detailed span {
    font-size: 1rem;
    color: var(--text-color);
}

.btn-secondary {
    background-color: var(--navbar-active-color);
    border-color: var(--navbar-border-color);
    color: var(--header-gradient-end);
    font-size: 0.9rem;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--hovering-color);
    border-color: var(--hovering-color);
}

/* Admin Page CSS */

.admin-dashboard {
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 90%;
}

.admin-dashboard h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--heading-color);
    text-align: center;
}

.admin-dashboard label {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    display: inline-block;
}

.admin-dashboard .form-control {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.admin-dashboard .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.admin-dashboard .btn-primary {
    background-color: var(--navbar-active-color);
    border-color: var(--navbar-border-color);
    color: var(--navbar-text-color);
}

.admin-dashboard .btn-primary:hover,
.admin-dashboard .btn-primary:focus {
    background-color: var(--hovering-color);
    border-color: var(--hovering-color);
}

.admin-dashboard .btn-danger {
    background-color: var(--alert-background-color);
    border-color: var(--alert-background-color);
    color: var(--alert-text-color);
}

.admin-dashboard .btn-danger:hover,
.admin-dashboard .btn-danger:focus {
    background-color: var(--hovering-color);
    border-color: var(--hovering-color);
}

/* Navbar */

.navbar {
    background-color: var(--navbar-bg-color);
    border-bottom: 2px solid var(--navbar-border-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    color: var(--navbar-text-color);
    font-weight: bold;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--hovering-color);
}

.navbar-nav .nav-link {
    text-decoration: none; 
    color: var(--navbar-text-color);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: var(--hovering-color);
}

.navbar-toggler {
    border-color: var(--navbar-border-color);
}

.navbar .dropdown-menu {
    background-color: var(--navbar-bg-color);
    border-color: var(--navbar-border-color);
}

.navbar .dropdown-menu .dropdown-item {
    color: var(--navbar-text-color);
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
    background-color: var(--hovering-color);
    color: var(--navbar-bg-color);
}

.navbar .dropdown-divider {
    border-color: var(--navbar-border-color);
}

/* Wrapper for footer */

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer */

footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--footer-text-color) !important;
    padding: 2rem 0;
    margin-top: auto;
    width: 100%;
}

footer a {
    color: var(--footer-link-color) !important;
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-link-hover-color) !important;
    text-decoration: underline;
}

footer p {
    margin: 0.5rem 0;
}

footer .mb-0 {
    margin-bottom: 0 !important;
}

.user-introducer {
    color: var(--header-gradient-end);
    display: flex;
    font-size: large;
}

/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {
    /* Adjust body padding and container margins */
    body {
        padding-top: 20px;
    }

    .container {
        margin-top: 20px;
        /* padding: 0 10px; */
    }

    /* Reduce the size of headings */
    h1, h2 {
        font-size: 1.5rem;
    }

    /* Adjust list item font size */
    ul li {
        font-size: 1rem;
        padding: 8px 0;
    }

    /* Adjust grid layout for week elements */
    .week-grid {
        grid-template-columns: repeat(50, 6px);
        grid-gap: 1px;
    }

    .week {
        width: 6px;
        height: 6px;
    }

    /* Make cards full-width on smaller screens */
    .card, .card-detailed {
        margin: 10px;
        width: 100%; /* Full-width on small screens */
    }

    /* Adjust detailed experience text sizes */
    .card-title-detailed {
        font-size: 1.5rem;
    }

    .card-text-detailed {
        font-size: 1rem;
    }

    /* Footer adjustments */
    footer {
        padding: 1rem 0;
    }

    footer p {
        font-size: 0.9rem;
    }

    /* Navbar adjustments */
    .navbar-nav .nav-link {
        font-size: 0.875rem;
        padding: 10px 5px;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }

    /* Admin Dashboard adjustments */
    .admin-dashboard {
        padding: 1.5rem;
        width: 100%;
    }

    .admin-dashboard h1 {
        font-size: 1.75rem;
    }

    .admin-dashboard .btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
    }
}
